'.source.scss, .source.sass':
  '// todo: comment.':
    'prefix': 'c-section-todo'
    'body': '''
        // --------------------------------------------------------------------------------
        // todo: ${1: Tem como objetivo especificar uma tarefa pendente que é necessária}.
        // --------------------------------------------------------------------------------
    '''

  '// note: comment.':
    'prefix': 'c-section-note'
    'body': '''
        // --------------------------------------------------------------------------------
        // note: ${1: Apenas uma observação sobre o código}.
        // --------------------------------------------------------------------------------
    '''

  '// fixme: comment.':
    'prefix': 'c-section-fixme'
    'body': '''
        // --------------------------------------------------------------------------------
        // fixme: ${1: Se trata de um bug ou erro de desemvolvimento já identificado que está esperando por correção}.
        // --------------------------------------------------------------------------------
    '''

  'changes: comment.':
    'prefix': 'c-section-changes'
    'body': '''
        // --------------------------------------------------------------------------------
        // changes: ${1: Uma alteração que acaba de ser realizada}.
        // --------------------------------------------------------------------------------
    '''

  '// future: comment.':
    'prefix': 'c-section-future'
    'body': '''
        // --------------------------------------------------------------------------------
        // future: ${1: Uma expesificação que pode ser implementada em algum momento}.
        // --------------------------------------------------------------------------------
    '''

  '// example: comment.':
    'prefix': 'c-section-example'
    'body': '''
        // --------------------------------------------------------------------------------
        // example: ${1: Um trecho de exemplo, para ilustrar a aplicação e uso de um código}.
        // --------------------------------------------------------------------------------
    '''
