'.source.scss, .source.sass':
  '=== .classname ===':
    'prefix': 'c-title'
    'body': '''
        //  ====================  ${1:.classname}  ====================

        //	created by:		${2:Jonathan Bergson} ( ${3:jonathan@bergson.me} )
        //	creation data:	${4:July 03, 2015}

        //	upadate by:		${2:Jonathan Bergson} ( ${3:jonathan@bergson.me} )
        //	update data:	${4:July 06, 2015}

        //  ${5:1. Your text}
        //  ${6:2. Your text}

        //  ===========================================================





    '''
